@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --darkBlue: #001c66;
  --lightBlue: #00adef;
  --white: white;
  --whiteSmoke: whiteSmoke;
  --red: red;
  --black: black;
  --lightGray: lightgray;
  --normalGray: #eeeeee;

  --fontSize: 1.2rem;
  --fontWeight: 500;
  --transitionTime: 0.5s;
}

html {
  font-size: 9px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* GENERAL */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
  margin-right: auto;
  margin-left: auto;
  padding: 3.2rem;
}

.container-properties {
  max-width: 60%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid-one-col {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
}

.btn {
  font-weight: 600;
  padding: 1.8rem 2.4rem;
  font-size: 1.8rem;

  font-family: inherit;
  background-color: var(--lightBlue);
  color: var(--whiteSmoke);

  border: none;
  border-radius: 9px;
  transition: var(--transitionTime);
}

.btn:hover,
.btn:focus {
  background-color: var(--darkBlue);
  color: var(--whiteSmoke);
}

.btn-reset {
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: var(--fontWeight);

  font-family: inherit;
  background-color: var(--white);
  color: var(--red);

  border: 2px solid var(--red);
  border-radius: 9px;
  transition: var(--transitionTime);
}

.btn-reset:hover {
  background-color: var(--red);
  color: var(--whiteSmoke);
}

.link:link,
.link:visited {
  text-decoration: none;
  color: var(--white);
  transition: all var(--transitionTime);
}

.link:hover,
.link:active {
  text-decoration: none;
  color: var(--lightBlue);
  transition: all var(--transitionTime);
}

.display-center {
  display: flex;
  justify-content: center;
}

.smaller-container {
  max-width: 60rem;
  /* padding: 0 32rem; */
  margin: 12rem auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h2-properties-1 {
  color: var(--darkBlue);
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.max-width-container {
  max-width: 50%;
}

.field {
  padding: 1.2rem;
  font-size: 1.5rem;
  font-family: inherit;

  border: 2px solid var(--black);
  border-radius: 9px;
  outline: none;
}

.field:focus {
  border: 2px solid var(--lightBlue);
}

.field::placeholder {
  font-weight: var(--fontWeight);
}

/***********************************/
/*-----------  HEADER  ------------*/
/***********************************/

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--darkBlue);

  /* height: calc(8 * var(--fontSize)); */
  padding: calc(4 * var(--fontSize));
}

.logo {
  width: 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  text-align: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-weight: var(--fontWeight);
  font-size: calc(1.5 * var(--fontSize));
}

/* .main-nav-link:active,
.main-nav-link:hover {
  font-weight: 500;
  font-size: 1.8rem;
} */

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 9px;
  color: var(--black);
  background-color: var(--white);
  padding: 1.2rem 2.4rem;
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  border-radius: 9px;
  color: var(--white);
  background-color: var(--lightBlue);
  padding: 1.2rem 2.4rem;
}

/***********************************/
/*-----------  HERO  --------------*/
/***********************************/

.hero-text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/home-page-1.jpg);
  background-size: cover;
  background-position: center;
  height: 70rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.6rem;
}

.hero-text h2 {
  color: var(--white);
  font-size: 6rem;
}

.hero-text h3 {
  color: var(--white);
  font-size: calc(2 * var(--fontSize));
}

.btn-hero-text {
  margin-top: 4.8rem;
  box-shadow: var(--lightBlue) 0px 5px 15px;
}

.btn-hero-text:hover,
.btn-hero-text:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/***********************************/
/*-------- HOMEPAGE-TEXT ----------*/
/***********************************/

.homepage-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.8rem;
  column-gap: 1.8rem;
}

.reason-text {
  border-radius: 6px;
  border: 2px solid var(--lightGray);
  box-sizing: border-box;
  width: 100%;
  height: 30rem;
  padding: 7%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  justify-items: center;

  transition: all ease 0.5s;
}

.reason-text:hover {
  transform: translateY(-1.2rem);
}

.reason-text h3 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.reason-text p {
  font-size: 1.5rem;
}

.reason-text img {
  height: 7.2rem;
  width: 7.2rem;
}

.container.container-properties h1 {
  display: flex;
  justify-content: center;
  font-size: calc(2 * var(--fontSize));
}

/***********************************/
/*---------- ABOUT US -------------*/
/***********************************/

.about-us {
  background-image: url(../images/about-us.jpg);
  background-size: cover;
  background-position: center;
  height: 75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-text {
  font-size: calc(2 * var(--fontSize));
  max-height: 75%;
  width: 50%;
  color: var(--whiteSmoke);
  background: rgba(13, 18, 14, 0.8);
  padding: 3.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.8rem;
}

.feedback-list {
  margin: 6rem auto;
  max-width: 50%;
  padding: 3.2rem;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;

  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.feedback-list h1 {
  display: flex;
  justify-content: center;
  font-size: calc(2 * var(--fontSize));
}

.feedback-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.8rem;
  background-color: var(--normalGray);
  padding: 3.6rem 0rem;
  padding-right: 4.8rem;
  padding-left: 2rem;

  transition: all 0.5s;
}

.feedback-item:hover {
  transform: translateY(-1.2rem);
}

.feedback-item img {
  border-radius: 50%;
  width: 13.2rem;
  height: 13.2em;
}

.feedback-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-item-text {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.feedback-item-text .feedback-name {
  font-weight: bold;
}
.feedback-item-text .feedback-review {
  font-style: italic;
}

/***********************************/
/*-------- CONTACT FORM -----------*/
/***********************************/

.cta {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--white);
  height: 50rem;
  width: 75%;
  color: var(--whiteSmoke);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cta-text-box {
  padding: 6.4em 0em;
}

.cta-text-box h2 {
  font-size: calc(3 * var(--fontSize));
  color: var(--darkBlue);
  text-align: center;
}

.cta-image-box {
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 1.2rem;
}

.cta-form .field {
  width: 75%;
}

.cta-form .contact-textarea {
  resize: none;
  height: 6rem;
}

.cta-form .btn-form {
  padding-left: 6.4rem;
  padding-right: 6.4rem;
  box-shadow: var(--lightBlue) 0px 5px 15px;
}

.cta-form .btn-form:hover,
.cta-form .btn-form:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error-msg {
  font-size: 1.2rem;
  color: var(--red);
  height: 1.2rem;
  font-weight: var(--fontWeight);
}

/***********************************/
/*----------- FOOTER --------------*/
/***********************************/

.footer {
  padding: 6rem;
  max-width: 100%;
  background-color: var(--darkBlue);
  color: var(--whiteSmoke);

  display: flex;
  justify-content: space-between;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.8rem;
}

.footer-col h3 {
  font-size: 1.8rem;
  font-weight: var(--fontWeight);
}

.footer-col p {
  font-size: 1.5rem;
  font-weight: var(--fontWeight);
}

.footer-social-media-logo {
  display: flex;
  justify-content: flex-start;
  gap: 1.8rem;
}

.footer-social-media-logo img {
  width: 3.6rem;
  height: 3.6rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: var(--white);
  transition: all var(--transitionTime);
}

.footer-link:hover,
.footer-link:active {
  text-decoration: none;
  color: var(--lightBlue);
  transition: all 0.5s;
}

/************************/
/********  MENU  ********/
/************************/

.menu {
  max-width: 60%;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
  margin-right: auto;
  margin-left: auto;
}

.menu-bar {
  display: grid;
  grid-template-columns: 7fr 2fr 2fr;
  gap: 1.2rem;
}

#menu-container {
  max-width: 100%;
  padding: 1.8rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.6rem;
  column-gap: 3.6rem;
  min-height: 50vh;
}

.menu-card {
  justify-self: stretch;
  text-decoration: none;
  color: inherit;

  min-height: 40rem;
  max-width: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;

  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  transition: all 0.5s;
}

.menu-card:hover {
  transform: translateY(-1.2rem);
}

.menu-card img {
  max-width: 10.8rem;
  max-height: 10.8rem;
}

.menu-card-image {
  background-color: #d8d8d8;
  border-radius: 6px 6px 0px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-card-content {
  padding: 2.4rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;
}

.menu-card-title {
  font-size: calc(1.5 * var(--fontSize));
}

.menu-card-content p {
  font-size: calc(1.25 * var(--fontSize));
  font-weight: calc(0.8 * var(--fontWeight));
}

.btn-back-to-top {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  font-size: 1.2rem;
}

/************************/
/******* ARTICLE ********/
/************************/

#article-title {
  color: var(--darkBlue);
  margin-bottom: 1.8rem;
  font-size: calc(2 * var(--fontSize));
}

.article {
  font-size: calc(1.5 * var(--fontSize));
  line-height: 2.4rem;
}

code {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.8rem;
  font-size: 1.5rem;
}

pre {
  background: #282c34; /* Dark background */
  color: var(--white); /* Light text */
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap; /* Preserve line breaks */
  font-family: "Courier New", monospace;
}

.article-container {
  gap: 1.2rem;
  font-size: var(--fontSize);
}

.article-container header h1 {
  text-align: center;
}

.article-container h2 {
  margin-bottom: 1.2rem;
}

/************************/
/********  FAQs  ********/
/************************/

.faq-item {
  border-bottom: 1px solid var(--black);
}

.faq-question {
  font-weight: var(--fontWeight);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: calc(2 * var(--fontSize));
  padding: 10px 0px;

  color: var(--lightBlue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-icon {
  font-size: 3rem;
}

.faq-answer {
  overflow: hidden;
  max-height: 0;

  opacity: 0;
  transition: all 1s ease;
}

.faq-answer p {
  padding: 10px 0px;
  font-size: calc(1.25 * var(--fontSize));
}

.faq-item.active .faq-answer {
  opacity: 1;
  max-height: 500px;
}

/************************/
/****** Responsive ******/
/************************/

@media only screen and (max-width: 900px) {
  /* This is for homepage */
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .main-nav-list {
    display: flex;
    flex-direction: column;
  }

  .homepage-text {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.8rem;
  }

  .footer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4.8rem;
  }

  .footer-social-media-logo {
    justify-content: center;
  }

  /* This is for about us page */

  .feedback-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  /* This is for menu page */

  .menu-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #menu-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* This is for contact page */

  .cta {
    height: 90rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  /* This is for contact page */

  .cta-form .btn-form {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  /* This is for about us page */
  .about-us-text {
    font-size: calc(1.5 * var(--fontSize));
  }
}
